$brown: rgb(73,68,48);

.full-width-table {
  width: 100%;
}

.mat-header-cell{
  background-color: $brown;
}

.mat-header-cell{
  color: whitesmoke;
}

.mat-sort-header-arrow{
  color: white;
}

button {
  border-image: none;
  outline: none;
}

// .hover_class a{
//   visibility:hidden;
// }
// .hoverclass:hover a {
//  visibility:visible;
// }
// .mat-column-priority {
//   width: 6em;
// }
.mat-column-done{
  width: 4em;
}
.mat-column-delete {
  width: 2em;
}
.mat-row .delete-btn {
  cursor: pointer;
  visibility: hidden;
}
.mat-row:hover .delete-btn {
  visibility: visible;
}