<div class="example-container" >
  <form [formGroup]="todoForm" (submit)="onSubmit(todoForm.value)">
    <mat-form-field appearance="fill" >
      <mat-label>Task name</mat-label>
      <input matInput [required]="true" formControlName="taskName">
      <mat-error *ngIf="todoForm.get('taskName').hasError('required')">Please enter a task name</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" >
      <mat-label>Select</mat-label>
      <mat-select formControlName="priority">
        <mat-option value="0">Low</mat-option>
        <mat-option value="1">Medium</mat-option>
        <mat-option value="2">High</mat-option>
      </mat-select>
    </mat-form-field>
    
    <br>
    
    <button type="submit" mat-stroked-button color="primary">Submit</button>
  </form>
  
</div>

<br>

